@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);

body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: rgb(48, 48, 48);
    border-top: 5.5px solid #0066AE;
    border-bottom: 5.5px solid #0066AE;
}

.container {
    margin-top: 30px;
}

a {
    text-decoration: none;
    /*background-color: rgba(39, 168, 34, 0.06);*/
}

a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    color: #0066AE;
}

p, address {
    margin-bottom: 0;
}

.me {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    margin-bottom: 10px;
}

header > h1, section > h1 {
    color: #0066AE;

}
header > h5, section > h5 {
    color: #0066AE;

}
header > h1 {
    line-height: 100%;
    font-size: 160%;
    margin-bottom: 10px;

}

header > h1, section > h1, header > h5 {
    font-size: 120%;
    line-height: 120%;
    text-transform: uppercase;
}

.container > header p, .container > header address {
    margin-bottom: 10px;

}

.container > header p:last-child {
    margin-bottom: 10px;

}

section {
    margin-bottom: 10px;
}

article {
    margin-bottom: 10px;
}

article > header > h1 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 105%;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 0;
    color: inherit;
    text-align: left;
    /*color: #0066AE;*/
}

article > header > span + span {
    margin-left: 1.5px;
    text-align: left;

}

article > header > span + span::before {
    content: '@';
    margin-right: 1.5px;
    text-align: left;
}

article > header > span {
    /*color: #808080;*/
    color: #0066AE;
    font-weight: bold;
    font-size: 100%;
    text-align: left;
}

article > header > span > address {
    /*color: #808080;*/
    color: #0066AE;
    font-weight: bold;
    font-size: 100%;
    text-align: left;
}

article > header > span > time {
    color: #6c6c6c;
    /*color: #0066AE;*/
    font-weight: bold;
    font-size: 100%;
    text-align: left;
}

article > header > span a {
    /*color: inherit;*/
    color: #606060;
    /*color: #0066AE;*/
    text-align: left;
}

article > header address {
    display: inline;
    text-align: left;
}

article > header address + time {
    margin-left: 5px;
    text-align: left;
}

article > header address + time::before {
    content: '—';
    margin-right: 5px;
    text-align: left;
}

em {
    font-style: normal;
    font-weight: normal;
    color: rgb(100, 100, 100);
    text-align: left;
    /*margin-right: 6px;*/
}

@media print {
    @page {
        margin: 15mm;
    }

    body {
        font-size: 12pt;
        line-height: 17pt;
    }

    .container > header {
        font-size: 80%;
        line-height: 160%;
        text-align: left;
    }

    article > header > span {
        font-size: 80%;
        line-height: 80%;
        text-align: left;
    }
}

footer p {
    margin-bottom: 5px;
    font-size: 10pt;
}
